@mixin font($name, $alias, $style: normal, $weight: 400) {
    $url: '../fonts/';

    @font-face {
        font-family: $alias;
        // src: url($url + $name + '.eot?#iefix') format('embedded-opentype'), url($url + $name + '.woff') format('woff'), url($url + $name + '.ttf') format('truetype'), url($url + $name + '.svg#3ds-Light') format('svg');
        src: url($url + $name + '.eot?#iefix') format('embedded-opentype'), url($url + $name + '.woff') format('woff'), url($url + $name + '.ttf') format('truetype');
        font-style: $style;
        font-weight: $weight;
    }
}

// @include font('glacialindifference-regular', 'glacial');
@include font('BoogyBrut-Regular', 'boogy', normal, 400);
@include font('BoogyBrut-Bold', 'boogy', normal, 700);
@include font('BoogyBrut-Light', 'boogy', normal, 300);
@include font('HankenGrotesk-Regular', 'grotesk');
