.loader {
    @include full-fixed;
    background-color: $white;

    padding: 9.5rem 16rem 15rem 16rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    &_hidden {
        transition: opacity 0.3s $easeInCirc 0.7s;
        opacity: 0;
        pointer-events: none;

        .lapis {
            transform: translate3d(0, -100%, 0);
            transition: transform 0.5s $easeInCirc;
        }
        .percent {
            transform: translate3d(100%, 0, 0);
            transition: transform 0.5s $easeInCirc 0.2s;
        }
        .arte {
            transform: translate3d(0, 100%, 0);
            transition: transform 0.5s $easeInCirc 0.4s;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    height: 100%;

    max-width: 128rem;

    overflow: hidden;
}

.lapis {
    background-image: url('./images/lapis.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24rem;
    height: 8.6rem;
}

.arte {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-image: url('./images/arte.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.percent {
    position: absolute;
    right: 0;
    top: 0;
    font-family: boogy;
    font-weight: bold;
    font-size: 10rem;
}
