.popinPainting {
    @include full-fixed;
    pointer-events: none;

    &_hidden {
        pointer-events: none;
        opacity: 0;
    }

    .btnClose {
        position: absolute;
        left: 3.2rem;
        top: 3.2rem;
        width: 2.4rem;
        height: 2.4rem;

        pointer-events: all;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
            width: 90%;
            height: 1px;
            background-color: $black;

            transition: width 0.7s $easeOutExpo;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            width: 90%;
            height: 1px;
            background-color: $black;

            transition: width 0.7s $easeOutExpo;
        }

        &:hover {
            &:before,
            &:after {
                width: 100%;
            }
        }
    }
}

:global {
    #paintingFrame {
        pointer-events: none;

        @include center-fixed;
        width: calc(100vw - 30rem);
        height: calc(100vh - 30rem);
        // background-color: rgba(0, 255, 0, 0.5);

        > div {
            @include center-absolute;
            width: 0;
            height: 0;
            // background-color: rgba(255, 0, 0, 0.5);
        }
    }
}
